<nav bs-navbar class="navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HATEOAS Gallery</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="galleries">Galleries</a></li>
                <li class="active" ng-if="(currentUser.roles.indexOf('ROLE_ADMIN') + 1)"><a href="users">Users</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a>{{ currentUser.username }}</a></li>
                <li><a href="logout" target="_self">Logout</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>