
/*======================================================================
=            Import all your .scss files, order is very important

	(The file which is not imported will not be include in final build )

	CSS - All the css files will be loaded in the order they appear 
		in the app/css directory
========================================================================*/


// @import "somefile"

/*
  To use bootstrap-sass-official run:
  bower install --save bootstrap-sass-official

  Then uncomment the two lines below:
*/

$icon-font-path: "../bower/bootstrap-sass-official/assets/fonts/bootstrap/" !default;
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";


html {
  height: 100%;
}

body {
  min-height: 100%;
}

.modal-backdrop {
  bottom: 0;
}

body {
  padding-top: 70px;
}

.dynamic-grid{
  position: relative;
  display: none;
}

.dynamic-grid.angular-grid{
  display: block;
}

.grid {
  border: 1px solid #cccccc;
  position: absolute;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing : border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  cursor: pointer;
}

.grid-item-inner {
  position: relative;
  .grid-item-overlay {
    position: absolute;
    bottom: 0;
    height: 0;
    opacity: 0.8;
    width: 100%;
    transition: all 1s ease-in-out;
    background: black;
    overflow: hidden;
    .grid-item-controls {
      text-align: right;
    }
    .description {
      padding: 5px;
      color: snow;
    }
  }

  &:hover .grid-item-overlay {
    height: auto;
    transition: all 1s ease-in-out;
  }
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.grid-img.img-loaded{
  visibility: visible;
  opacity: 1;
}