<section class="new_user" ng-controller="NewUserCtrl">
    <h1>Create a new User</h1>

    <form class="form form-horizontal">

        <div class="form-group" ng-class="{'has-error': newUser.errors.username}">
            <label>Username</label>
            <input class="form-control" ng-model="newUser.user.username" />
            <label ng-repeat="error in newUser.errors.username">{{ error.message }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': newUser.errors.roles}">
            <label>Role</label>

            <select ng-model="newUser.user.roles[0]" class="form-control">
                <option value="ROLE_ADMIN">Admin</option>
                <option value="ROLE_USER">User</option>
            </select>
            <label ng-repeat="error in newUser.errors.roles">{{ error.message }}</label>
        </div>
        <div class="form-group" ng-class="{'has-error': newUser.errors.clearPassword || newUser.errors.password }">
            <label>Password</label>
            <input class="form-control" type=password" ng-model="newUser.user.plainPassword" />
            <label ng-repeat="error in newUser.errors.plainPassword">{{ error.message }}</label>
            <label ng-repeat="error in newUser.errors.password">{{ error.message }}</label>
        </div>
        <div class="form-group">
            <button type="submit" class="form-control" ng-click="newUser.save()">
                Save
            </button>
        </div>
    </form>


</section>